body{
    background-color: rgba(244, 246, 250, 0.993);
}
#header-filters {
    background: rgb(255, 255, 255);
    color: #050505;
    padding: 16px 16px 16px 0px;
    position: fixed;
    top: 0;
    max-height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 1;
}
.itemHeader{
    background: #fdfdfd;
    width: max-content;
    padding: 4px;
    border-radius: 4px;
    margin: 10px;
    border: 1px solid rgb(168, 167, 167);
}
.submenu-sort{
    display: none;
    width: 152px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    background-color: #f9f9f9;
    padding: 12px;
    list-style-type: none;
    margin-top: 0px;
    position: absolute;
}
.wrapper-dropdownMenu:hover .submenu-sort{
    display: block;
}
.checkMark{
    margin-bottom: -3px;
}
.content-wrapper{
    display: flex;
}
.side-bar{
    background: rgb(255, 255, 255);
    color: #050505;
    padding: 16px;
    position: sticky;
    height: 100vh;
    min-width: 150px;
    top: 70px;
}
.item-side-bar{
    background: #fdfdfd;
    width: max-content;
    padding: 4px;
    border-radius: 4px;
    margin: 10px;
    font-weight: 800;
}
.container{
    display: flex;
    justify-content: center;
    margin-top: 70px;
}
.sneakersDad{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    min-width: 300px;
    max-width: 900px;
}
.sneakersChild{
    position: relative;
    margin: 10px;
}
.pictureHeart{
    position: absolute; 
    top: 8px; 
    right: 10px;
}
.sneakersPrice{
    margin: 5px 0px 10px 15px;
    font-family: impact;
}
.textAtTheBottomShoes{
    margin: 0px 0px 0px 10px;
    font-family: Monospace;
}
@media (max-width: 1080px) {
    #header-filters{
        min-width: 820px;
        margin-left: -19px;
    }
    #sneakersDad{
        margin-top: 33px;
    }
    .itemHeader{
        display: flex;
        font-size: 30pt;
        justify-content: center;
    }
    .checkMark{
        margin: 0px 0px 0px 7px;
        width: 40px;
    }
    .side-bar{
        display: none;
    }
    #container{
        width: 100%;
    }
    .pictureSneakers{
        width: 430px;
    }
    .pictureHeart{
        width: 50px;
        margin: 5px;
    }
    .sneakersPrice{
        font-size: 25pt;
        margin: 10px 0px 10px 20px;
    }
    .textAtTheBottomShoes{
        font-size: 25pt;
    }
}


